table{
    margin: auto;
}
th{
    color: #fff;
    background: lightslategray;
}
tr{
    text-align: center;
    border: solid 1px #0a0a0a;
}
tr:hover{
    background: #ccd7f5;
    transition: 0.3s;
}
td{
padding: 8px;
border-right: solid 1px #ccc;
border-bottom: solid 1px #ccc;
}
button{
    cursor: pointer;
}
input{
    height: 30px;
    font-size: 16px;
    border: none;
}
label{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin: 0 auto 2% ;
    background-color: #fff;
    padding: 3px;
    border-radius: 4px;
}
select{
    height: 30px;
    font-size: 16px;
    border: none;
 }
 #content,#editContent{
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    min-height: 150px;
 }
#notesTable{
    width: 100%;
    border: solid 1px #ccc;
    padding: 15px;
    box-shadow: 0px -1px 7px 0px rgba(158, 157, 157, 0.75);
    background: #eeebeb;
}
#editFormContainer{
   margin-top: 2%;
}
#addButton{
    float: right;
    margin-right: 6%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100px;
    height: 30px;
    background-color: lightblue;
    border: none;
    font-weight: bold;
}
#addForm{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 30%;
    align-items: stretch;
    margin: 10% auto;
}
#addTaskBtn, #cancelButton{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: none;
    
}
.form__buttons{
    display: flex;
    gap: 2%;
    justify-content: center;
}
.setings{
    margin-left: 1%;
}
.buttons__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#summary__table-container{
    margin-top: 3%;
}
#summaryTable{
    width: 100%;
    background: #eeebeb;
}
#editForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10% auto;
}
.save-button,.close-button{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: auto;
}
.edit__btn-container{
    display: flex;
    
}
